#video {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
  }
  
  #photo {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
  }
  
  #canvas {
    display: none;
  }
  
  .camera {
    width: 340px;
    display: inline-block;
  }
  
  .output {
    display: inline-block;
    vertical-align: top;
  }
  
  #startbutton {
    width: 100px;
    height: 50px;
    background-color: rgb(119, 119, 119);
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
  }
  
  .contentarea {
    font-size: 16px;
  }