body{
    background-color: rgb(32, 179, 184);
}

#video {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
}

#photo {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
}

#canvas {
  display: none;
}

.camera {
  width: 340px;
  display: inline-block;
}

.output {
  display: inline-block;
  vertical-align: top;
}

#startbutton {
  width: 100px;
  height: 50px;
  background-color: rgb(119, 119, 119);
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
}

.contentarea {
  font-size: 16px;
}

.inputBox{
    width: 600px;
    height: 50px;
    font-size: 40px;
}
.inputLabel{
    font-size: 50px;
    font-weight: bold;
}

.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;

  background-color: rgb(32, 179, 184);
}

.elementBox {
  background-color: rgb(156, 156, 156);
  color: #fff;
  border-radius: 5px;
  font-size: 150%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  border: thick solid #444;
}

.eyeShapeBox {
  background-color: rgb(156, 156, 156);
  color: #fff;
  border-radius: 5px;
  font-size: 150%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  border: thick solid #444;
}

.eyeColorBox {
  background-color: rgb(156, 156, 156);
  color: #fff;
  border-radius: 5px;
  font-size: 150%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  border: thick solid #444;
}

.dispositionBox {
  background-color: rgb(156, 156, 156);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  font-size: 150%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  border: thick solid #444;
}

.submitSector{
    display: flex; 
    justify-content: center; 
    flex-flow: column;
    align-items: center;
    margin-top: 100px;
}

.submitButton{
    width: 200px; 
    height: 100px; 
    font-size: 50px; 
    text-align: center;
}